<form method="POST" action="/students">
    <div class="form-group">
        <label>Student First Name:</label>
        <input name="firstName" type="text" class="form-control" aria-describedby="inputHelp" placeholder="Enter Name">
        <small id="inputHelp" class="form-text text-muted">Please enter a title here.</small>
      </div>

      <div class="form-group">
        <label>Student Last Name: </label>
        <input name="lastName" type="text" class="form-control" placeholder="Student Last Name">
      </div>
      <div class="form-group">
        <label>Student Id: </label>
        <input name="studentId" type="text" class="form-control" placeholder="Student Id">
      </div>
      <div class="form-group">
        <label>Student nin: </label>
        <input name="nin" type="text" class="form-control" placeholder="Student Nin">
      </div>
      <div class="form-group">
        <label>Student International Passport Id: </label>
        <input name="intId" type="text" class="form-control" placeholder="Student International Passport Id">
      </div>
      <div class="form-group">
        <label>Student email: </label>
        <input name="email" type="text" class="form-control" placeholder="Student email">
      </div>
      <div class="form-group">
        <label>Student department: </label>
        <input name="department" type="text" class="form-control" placeholder="Student department">
      </div>
      <div class="form-group">
        <label>Student programme: </label>
        <input name="programme" type="text" class="form-control" placeholder="Student programme">
      </div>
      <div class="form-group">
        <label>Student intake: </label>
        <input name="intake" type="text" class="form-control" placeholder="Student Intake">
      </div>
      <div class="form-group">
        <label>Student Status: </label>
        <input name="status" type="text" class="form-control" placeholder="Student status">
      </div>
    <button type="submit" class="btn btn-primary">submit</button>
</form>